* {
    color: whitesmoke;
    font-family: 'Raleway', Sans-Serif;
    /*font-family: 'Open Sans', Sans-Serif;*/
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}

::-webkit-scrollbar {
    width: 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: tomato;
}

.logo {
    grid-column: 1 / span 6;
    margin: 0;
    display: flex;
    align-items: center;
}
nav {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.logo, nav {
    background-color: #1A1A2E;
    position: sticky;
    top: 0;
    padding: 10px;
    color: whitesmoke;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: whitesmoke;
}

.section {
    grid-column: 1 / span 12;
    height: 50vh;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16213E;
}
#home p {
    font-family: 'Open Sans', Sans-Serif;
    font-size: 3rem;
    color:wheat;
    border: 3px solid wheat;
    border-radius: 5px;
    padding: 20px;
}
#about {
    background-color: #0F3460;
    display: grid;
    grid-column: 1 / span 6;
}
#profile {
    grid-column: 7 / span 6;
    background-color: #000;
    color: whitesmoke;
}
#contact {
    background-color: #E94560;
}
#portfolio {
    background-color: #16213E;
}
footer {
    max-height: 200px;
    background-color: #0F3460;
}
.social-media-icons {
    display: flex;
    justify-content: center;
}
.whats-app-icon {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}
@media screen and (max-width: 520px) and (orientation: portrait){
    body {
        width: 100vw;
    }
    .logo {
        grid-column: 1 / span 12;
        margin: 0;
        display: flex;
        align-items: center;
    }
    nav {
        grid-column: 1 / span 12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60px;
        
    }
    .logo, nav {
        position: sticky;
        top: 0;
        padding: 10px;
    }
    img {
        display: none;
    }
}