* {
    color: whitesmoke;
    font-family: 'Raleway', Sans-Serif;
    /*font-family: 'Open Sans', Sans-Serif;*/
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
}

::-webkit-scrollbar {
    width: 5px;
    background: black;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(110deg,#463f64,#e2285c);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.logo {
    grid-column: 1 / span 7;
    margin: 0;
    display: flex;
    align-items: center;
}

nav {
    grid-column: 8 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.logo, nav {
    background-color: black;
    position: sticky;
    top: 0;
    padding: 10px;
    color: whitesmoke;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
nav li {
    list-style-type: none;
}
nav li a {
    text-decoration: none;
    color: whitesmoke;
}

nav li a:hover {
    background-image: linear-gradient(110deg,#463f64,#e2285c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.section {
    grid-column: 1 / span 12;
    height: 95vh;
    background-color: #000;
    text-align: center;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}
#home p {
    display: flex;
    flex-shrink: 2;
    font-family: 'Open Sans', Sans-Serif;
    padding: 100px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    border: 3px solid;
    border-radius: 5px;
    border-image: linear-gradient(110deg,#463f64,#463f64,#e2285c);
    border-image-slice: 1;
    background-image: linear-gradient(110deg,#463f64,#463f64,#e2285c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about {
    display: grid;
    grid-column: 1 / span 6;
}
#profile {
    grid-column: 7 / span 6;
    color: whitesmoke;
}
#contact {

}
#portfolio {
   
}
footer {
    max-height: 200px;
}
.social-media-icons {
    display: flex;
    justify-content: center;
}
.whats-app-icon {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}
@media screen and (max-width: 520px) and (orientation: portrait){
    body {
        width: 100vw;
    }
    .logo {
        grid-column: 1 / span 12;
        margin: 0;
        display: flex;
        align-items: center;
    }
    nav {
        grid-column: 1 / span 12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60px;
        
    }
    nav {
        position: sticky;
        top: 0;
        padding: 10px;
    }

    .section {
        height: 50vh;
    }

    #home {
        height: 80vh;
    }

    #home p {
        padding: 100px 0;
        font-size: 3rem;
        margin: 0 15px;
    }
    
    #about, #profile {
        grid-column: 1 / span 12;
    }

    svg {
        color: white;
    }
}